nav,
article,
header,
footer,
figure,
section,
aside {
    display: block;
}

html {
    background: url("../img/moovie/bg.png") repeat fixed 0 0 #FFFFFF;
    color: #444444;
    cursor: default;
    font: 76%/1.8 'Lucida Sans Unicode',Arial,Helvetica,sans-serif;
    margin: 0;
    overflow-y: scroll;
    padding: 0;
}

* + html { overflow-x: hidden; }

body {
    font-size: 1.1em;
    margin: 0;
    padding: 3em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #666666;
    font-weight: bold;
    margin: 1.4em 0 0;
}

h1,
h2 {
    color: #83B834;
    font-family: GaramondItalic,'Palatino Linotype','Lucida Sans Unicode',Arial,Helvetica,sans-serif;
    font-weight: normal;
    line-height: 1.4;
    text-shadow: 1px 1px 3px #CBCBCB;
}

h1 { font-size: 3.5em; }
h1:first-child { margin-top: 0; }
h2 { font-size: 2.5em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1em; }

p {
    margin: 1.3em 0;
    text-indent: 1.5em;
}

h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p,
ul + p,
ol + p,
dl + p,
blockquote + p,
pre + p,
div + p,
img + p {
    text-indent: 0;
}

ul,
ol,
dl {
    margin: 1.5em 0;
}

ul,
ol {
    padding: 0 0 0 3em;
}

ul { list-style: square outside none; }
li dl { margin: 0 0 0 1.5em; }

dt {
    font-style: normal;
    font-weight: bold;
}

dd { margin: 0 0 0 1.5em; }
dd + dt { margin-top: 0.8em; }
em { font-style: italic; }

strong {
    font-style: normal;
    font-weight: bold;
}

abbr { cursor: help; }

ins {
    border-top: 1px solid #CBCBCB;
    text-decoration: none;
}

q { font-style: italic; }

th {
    font-weight: bold;
    text-align: left;
}

a img { border: 0 none; }

a {
    border-bottom: 1px solid #888888;
    color: #444444;
    display: inline-block;
    text-decoration: none;
    text-indent: 0;
}

a { display: inline; }

a:visited {
    border-color: #CBCBCB;
    color: #888888;
}

a:hover {
    border: 0 none;
    text-decoration: none;
}

a[rel~="external"] {
    background: url("../img/moovie/external.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    padding: 0 13px 0 0;
}

input,
select,
textarea {
    color: inherit;
    font: 1em 'Lucida Sans Unicode',Arial,Helvetica,sans-serif;
}

textarea { height: 100px; }
table { border-collapse: collapse; }

caption {
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

td,
th,
caption {
    padding: 3px 6px;
    vertical-align: top;
}

ul {
    list-style: none outside none;
    padding-left: 1.5em;
}

li { margin: 0.5em 0; }

ul li {
    background: url("../img/moovie/arrow-right.png") no-repeat scroll left 0.4em rgba(0, 0, 0, 0);
    padding: 0 0 0 22px;
}

.checkbox-widget .checkbox {
    background: none no-repeat scroll center center rgba(0, 0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 4px;
    display: inline-block;
    height: 17px;
    margin: 0 5px 0 0;
    vertical-align: bottom;
    width: 17px;
}

.checkbox-widget .label {
    display: inline-block;
    vertical-align: middle;
}

.checkbox-widget {
    display: inline-block;
    margin: 3px 0;
    width: 100%;
}

.checkbox-widget[data-checked="true"] .checkbox {
    background-image: url("../img/checked.png");
}

.moovie > .wrapper {
    position: relative;
}

.moovie p {
    text-indent: 0;
}

.moovie .debug,
.moovie .debug tr,
.moovie .debug p {
    background: none repeat scroll 0 0 #DDDDDD;
}

.moovie .debug table {
    border-spacing: 5px;
    width: 100%;
}

.moovie .debug td:first-child {
    width: 1px;
}

.moovie .debug td + td {
    font-weight: bold;
}

.moovie .debug p {
    border-top: 1px dotted #888888;
    margin: 5px 0 0;
    padding: 10px 5px 5px;
    text-indent: 0;
}

.moovie .debug {
    border: 1px solid #AAAAAA;
    color: #444444;
    font: 0.75em Monaco,monospace;
    right: -235px;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    top: -5px;
    width: 198px;
}

.moovie video {
    background: none repeat scroll 0 0 #000000;
    display: block;
    height: 250px;
    width: 100%;
}

.moovie .captions p i,
.moovie .captions p em,
.moovie .captions p cite {
    font-family: OfficinaSansBookItalic,'Lucida Sans Unicode',Arial,Helvetica,sans-serif;
}

.moovie .captions p {
    display: inline;
    font-family: OfficinaSansBook,'Lucida Sans Unicode',Arial,Helvetica,sans-serif;
    font-size: 1.3em;
    line-height: 1;
    padding: 0.2em 0;
    text-shadow: 0 0 5px #000000, 0 0 5px #000000, 0 0 5px #000000, 0 0 10px #000000, 0 0 10px #000000;
}

.moovie .captions span.off-screen i,
.moovie .captions span.off-screen em,
.moovie .captions span.off-screen cite {
    font-family: OfficinaSansBook,'Lucida Sans Unicode',Arial,Helvetica,sans-serif;
    font-style: normal;
}

.moovie .captions span.off-screen {
    font-family: OfficinaSansBookItalic,'Lucida Sans Unicode',Arial,Helvetica,sans-serif;
}

.moovie .captions {
    bottom: 35px;
    left: 10%;
    position: absolute;
    right: 10%;
    text-align: center;
}

.moovie .captions.top {
    bottom: auto;
    top: 5px;
}

.moovie .overlay .wrapper div {
    line-height: 70px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.moovie .overlay .wrapper .play,
.moovie .overlay .wrapper .replay,
.moovie .overlay .wrapper .paused {
    cursor: pointer;
}

.moovie .overlay .wrapper .play:hover,
.moovie .overlay .wrapper .replay:hover,
.moovie .overlay .wrapper .paused:hover {
    opacity: 0.6;
}

.moovie .overlay .wrapper {
    background: none repeat scroll 0 0 #A5D260;
    border: 4px solid #FFFFFF;
    border-radius: 10px;
    color: #000000;
    font-size: 2em;
    height: 70px;
    left: 50%;
    margin-left: -100px;
    margin-top: -35px;
    opacity: 0.8;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 200px;
}

.moovie .overlay {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    bottom: 0;
    color: #FFFFFF;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.moovie .title {
    font-size: 1.6em;
    padding: 3px;
    position: absolute;
    right: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    top: 5px;
}

.moovie .panels > div {
    display: table;
    height: 100%;
    width: 100%;
}

.moovie .panels .heading {
    border-bottom: 1px dotted #888888;
    color: #B9DC84;
    font: 2.2em GaramondItalic,'Palatino Linotype','Lucida Sans Unicode',Arial,Helvetica,sans-serif;
    margin: 0 0 6px;
    padding: 0 0 0.3em;
}

.moovie .panels .heading + dl,
.moovie .panels .heading + ol,
.moovie .panels .heading + ul {
    margin-top: 0;
}

.moovie .panels li {
    margin: 0;
}

.moovie .panels .about {
    background: url("../img/moovie.png") no-repeat scroll right bottom rgba(0, 0, 0, 0);
}

.moovie .panels .playlist > div {
    display: table-row;
}

.moovie .panels .playlist > div + div {
    height: 100%;
}

.moovie .panels .playlist ol.playlist li {
    border-radius: 4px;
    padding: 0 5px;
    white-space: nowrap;
}

.moovie .panels .playlist ol.playlist li:hover {
    background: none repeat scroll 0 0 #994004;
}

.moovie .panels .playlist ol.playlist li.active {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.2);
}

.moovie .panels .playlist ol.playlist .label:hover {
    cursor: pointer;
    text-decoration: underline;
}

.moovie .panels .playlist ol.playlist {
    overflow-x: hidden;
    overflow-y: auto;
}

.moovie .panels {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 4px;
    bottom: 5px;
    font-size: 0.8em;
    left: 5px;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    right: 5px;
    top: 5px;
}

.moovie .controls > .wrapper > * {
    background: none no-repeat scroll center center rgba(0, 0, 0, 0);
    display: table-cell;
    vertical-align: middle;
    width: 13px;
}

.moovie .controls > .wrapper > .current-time,
.moovie .controls > .wrapper > .duration {
    overflow: hidden;
    width: 4ex;
}

.moovie .controls > .wrapper > .play {
    background-image: url("../img/play.png");
}

.moovie .controls > .wrapper > .play.paused {
    background-image: url("../img/pause.png");
}

.moovie .controls > .wrapper > .stop {
    background-image: url("../img/stop.png");
}

.moovie .controls > .wrapper > .volume .mute {
    background-image: url("../img/full.png");
}

.moovie .controls > .wrapper > .volume .mute.muted {
    background-image: url("../img/muted.png");
}

.moovie .controls > .wrapper > .previous {
    background-image: url("../img/previous.png");
}

.moovie .controls > .wrapper > .next {
    background-image: url("../img/next.png");
}

.moovie .controls > .wrapper > .settings {
    background-image: url("../img/settings.png");
}

.moovie .controls > .wrapper > .more {
    background-image: url("../img/more.png");
}

.moovie .controls > .wrapper > .close {
    background-image: url("../img/close.png");
}

.moovie .controls > .wrapper > * > .wrapper .popup .more {
    height: 13px;
    margin: 10px 0;
    width: 13px;
}

.moovie .controls > .wrapper > * > .wrapper .popup {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 4px;
    bottom: 100%;
    left: -9px;
    margin: 0 0 12px;
    padding: 0 7px;
    position: absolute;
}

.moovie .controls > .wrapper > * > .wrapper {
    position: relative;
}

.moovie .controls > .wrapper .progress .wrapper .bar {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 8px;
    opacity: 0.7;
    width: 100%;
}

.moovie .controls > .wrapper .progress .wrapper .buffered {
    background: none repeat scroll 0 0 rgba(0, 255, 0, 0.5);
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    z-index: -1;
}

.moovie .controls > .wrapper .progress .wrapper .time div {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    font-size: 0.9em;
    left: -50%;
    line-height: 1;
    padding: 5px;
    position: relative;
}

.moovie .controls > .wrapper .progress .wrapper .time {
    background: url("../img/timeArrow.png") no-repeat scroll left bottom rgba(0, 0, 0, 0);
    left: 0;
    padding: 0 0 5px 1.5px;
    position: absolute;
    top: -33px;
}

.moovie .controls > .wrapper .progress .wrapper .slider {
    background: none repeat scroll 0 0 #B9DC84;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    height: 10px;
    left: -7px;
    position: absolute;
    top: -3px;
    width: 10px;
}

.moovie .controls > .wrapper .progress {
    width: auto;
}

.moovie .controls > .wrapper .volume .mute {
    height: 13px;
    width: 13px;
}

.moovie .controls > .wrapper .volume .wrapper .popup .bar {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 100%;
    margin: 0 auto;
    opacity: 0.7;
    width: 8px;
}

.moovie .controls > .wrapper .volume .wrapper .popup .slider {
    background: none repeat scroll 0 0 #B9DC84;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    height: 10px;
    left: 50%;
    margin: 0 0 0 -7px;
    position: absolute;
    top: 6px;
    width: 10px;
}

.moovie .controls > .wrapper .volume .wrapper .popup {
    height: 50px;
    margin-bottom: 5px;
    padding: 13px 9px;
}

.moovie .controls > .wrapper .more .wrapper .popup .about {
    background-image: url("../img/about.png");
}

.moovie .controls > .wrapper .more .wrapper .popup .info {
    background-image: url("../img/info.png");
}

.moovie .controls > .wrapper .more .wrapper .popup .playlist {
    background-image: url("../img/playlist.png");
}

.moovie .controls > .wrapper {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    border-spacing: 10px 5px;
    display: table;
    opacity: 0.9;
    width: 100%;
}

.moovie .controls {
    bottom: 0;
    font-size: 0.9em;
    left: 0;
    position: absolute;
    right: 0;
}

.moovie {
    background: none repeat scroll 0 0 #000000;
    border: 5px solid #222222;
    color: #FFFFFF;
    padding: 30px;
    position: relative;
}
